[submodule "MyFirstApp"]
	path = MyFirstApp
	url = https://github.com/basoimauryne/MyFirstApp.git
[submodule "friendlychat"]
	path = friendlychat
	url = https://github.com/basoimauryne/friendlychat.git
